<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADDMISSION</title>
</head>
<body>
    <div class="greet">
        <h1 class="Greeting">Wellcom to ISCP ADDMISSION PROGRAM</h1>
    </div>
    
    <div class="main-container">
        <div class="personal-info">
            <form action="">

                <div class="personal-info">

                    <div class="person">
                        <label for="lname">Surname</label><br>
                        <input type="text" name="lname" id="lname"><br>
                        <label for="fname">First Name</label><br>
                        <input type="text" name="fname" id="fname"><br>
                        <label for="MN">Middle Name</label><br>
                        <input type="text" name="MN" id="MN"><br>
                        <label for="bday">Birth year</label><br>
                        <input type="date" name="bday" id="bday"><br>
                        <label for="sex">Sex</label><br>
                        <label for="male">Male</label>
                        <input type="checkbox" name="male" id="sex"> 
                        <label for="female">Female</label>
                        <input type="checkbox" name="female" id="female"><br>
                        <label for="address">Address</label><br>
                        <input type="text" name="address" id="address"><br>
                    </div>


                    <div class="contact-information"><br>
                        <label for="contactNumber">Contact Number</label><br>    
                        <input type="number" name="contactNumber" id="contactNumber"><br>

                        <label for="emergencyContact">Emergency Contact</label><br>
                        <input type="number" name="emergencyContact" id="emergencyContact"><br>
                    </div>
                    
                </div>

                <div class="enrollment-container"><br>
                    <label for="prevSchool">Previews School</label><br>
                    <input type="text" name="prevSchool" id="prevSchool"><br>
                    
                    <div class="course">
                        <label for="Course">Course desire</label><br>
                        <label for="BSCS">BSCS</label>
                        <input type="checkbox" name="BSCS" id="BSCS"><br>
                        <label for="BSIT">BSIT</label>
                        <input type="checkbox" name="BSIT" id="BSIT"><br>
                        <label for="BSIA">BSIA</label>
                        <input type="checkbox" name="BSIA" id="BSIA"><br>
                    </div>
                    
                    <div class="year-container">
                        <label>Year</label><br>
                        <label for="1st">1st</label>
                        <input type="checkbox" name="1st" id="1st">

                        <label for="2nd">2nd</label>
                        <input type="checkbox" name="2nd" id="2nd">

                        <label for="3rd">3rd</label>
                        <input type="checkbox" name="3rd" id="3rd">

                        <label for="4th">4th</label>
                        <input type="checkbox" name="4th" id="4th">
                    </div>
                    
                    
                </div>


            </form>
        </div>
    </div>

    <div class="logOut-container">
        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit">Log out</button>
        </form>
    </div>
</body>
</html>

