<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>ISCP admission</title>
</head>
<body>
    <div class="main-container">
        <div class="inner-container">
            <div class="form-container">
                <% if(messages.error) { %>
                    <%=messages.error %>
                <% } %>

                <form action="/login" method="POST">
                    <label for="username">Email</label><br>
                    <input type="email" name="email" id="email" class="email"><br>
        
                    <label for="password">Password</label><br>
                    <input type="password" name="password" id="passWord"><br>
                    
                    <input type="submit" value="Sign in" class="sign-in">
                   <a href="/signup"><input type="button" value="back" class="back"></a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>